.App{
  max-width: 700rem;
  margin: 10rem ;
}


.characterList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character{
  display: flex;

}

.character-content{
 margin-left: 2rem ;
  
}

.character-episode{
  margin-top: 2rem ;
   
 }